.main-div {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 1em;
}
.main-div > div:nth-child(odd) {
  background: green;
}
.products-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.products-div > div {
  text-align: center;
  background: #eee;
  padding: 1em;
}

.sort-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 200px;
  margin: auto;
  color: white;
  font-size: 20px;
}

.sort-head {
  padding-left: 20px;
}

.img-ads {
  grid-column: 1/6;
  display: block;
  margin: auto;
}
